In [6]:
import sklearn

In [7]:
import pandas as pd

In [9]:
 from sklearn.datasets import load_boston #selling price of a given house in Boston (MA)

In [10]:
 X, y = load_boston(return_X_y=True)

In [25]:
boston_dataset = load_boston()

In [33]:
df = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)  #we put it in pandas sataset 
df['Price'] = boston_dataset.target #our Y axis
df.head(n=10) #first 10 rows

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  Price
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2
5  0.02985   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.12   5.21   28.7
6  0.08829  12.5   7.87   0.0  0.524  ...  311.0     15.2  395.60  12.43   22.9
7  0.14455  12.5   7.87   0.0  0.524  ...  311.0     15.2  396.90  19.15   27.1
8  0.21124  12.5   7.87   0.0  0.524  ...  311.0     15.2  386.63  29.93   16.5
9  0.17004  12.5   7.87   0.0  0.524  ...  311.0     15.2  386.71  17.10   18.9

[10 rows x 14 columns]

In [30]:
boston_dataset.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [34]:
df.describe(include='all') #use this method to understand more data

             CRIM          ZN       INDUS  ...           B       LSTAT       Price
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677083   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]

In [73]:
import tensorflow
import keras 
from tensorflow.keras.models import Sequential

|we will create architecture, hyperparameters of our ANN

In [74]:
model = Sequential()

In [75]:
from tensorflow.keras.layers import Dense

In [76]:
model.add(Dense(units=128, input_shape=(13, ),activation = 'relu', name='dense_layer1'))

In [77]:
model.add(Dense(units=64, input_shape=(13, ), activation = 'relu', name = 'dense_layer2'))

In [78]:
model.add(Dense(1, activation = 'linear', name = 'dense_output')) #we have

In [79]:
model.compile(loss='mse',   #mean-squere error
              optimizer= 'adam') #we want to use adam optimizer

In [80]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_layer1 (Dense)         (None, 128)               1792
_________________________________________________________________
dense_layer2 (Dense)         (None, 64)                8256
_________________________________________________________________
dense_output (Dense)         (None, 1)                 65
=================================================================
Total params: 10,113
Trainable params: 10,113
Non-trainable params: 0
_________________________________________________________________

In [55]:
model.compile(loss=keras.losses.categorical_crossentropy, 

              optimizer = keras.optimizers.SGD(learning_rate = 0.01, momentum = 0.9))

In [87]:
from sklearn.model_selection import train_test_split
X = df.loc[:, df.columns != 'Price']
y = df.loc[:, df.columns == 'Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [93]:
mean = X_train.mean(axis=0)
std = X_train.std(axis=0)
X_train = (X_train - mean) / std
X_test = (X_test - mean) / std

In [94]:
#from sklearn import preprocessing
#standard = preprocessing.scale(X)
#print(standard)

In [102]:
model.fit(X_train, y_train, epochs=100)

Epoch 1/100
12/12 [==============================] - 0s 2ms/step - loss: 5.7391
Epoch 2/100
12/12 [==============================] - 0s 2ms/step - loss: 5.4750
Epoch 3/100
12/12 [==============================] - 0s 1ms/step - loss: 5.6136
Epoch 4/100
12/12 [==============================] - 0s 1ms/step - loss: 5.4613
Epoch 5/100
12/12 [==============================] - 0s 2ms/step - loss: 5.7148
Epoch 6/100
12/12 [==============================] - 0s 2ms/step - loss: 5.6533
Epoch 7/100
12/12 [==============================] - 0s 1ms/step - loss: 5.7856
Epoch 8/100
12/12 [==============================] - 0s 2ms/step - loss: 5.6389
Epoch 9/100
12/12 [==============================] - 0s 1ms/step - loss: 5.4829
Epoch 10/100
12/12 [==============================] - 0s 1ms/step - loss: 5.3572
Epoch 11/100
12/12 [==============================] - 0s 2ms/step - loss: 5.6785
Epoch 12/100
12/12 [==============================] - 0s 2ms/step - loss: 5.5164
Epoch 13/100
12/12 [==============================] - 0s 1ms/step - loss: 5.5167
Epoch 14/100
12/12 [==============================] - 0s 2ms/step - loss: 5.4331
Epoch 15/100
12/12 [==============================] - 0s 1ms/step - loss: 5.4152
Epoch 16/100
12/12 [==============================] - 0s 2ms/step - loss: 5.2753
Epoch 17/100
12/12 [==============================] - 0s 2ms/step - loss: 6.0688
Epoch 18/100
12/12 [==============================] - 0s 1ms/step - loss: 5.8086
Epoch 19/100
12/12 [==============================] - 0s 2ms/step - loss: 6.0814
Epoch 20/100
12/12 [==============================] - 0s 2ms/step - loss: 5.6171
Epoch 21/100
12/12 [==============================] - 0s 1ms/step - loss: 5.3720
Epoch 22/100
12/12 [==============================] - 0s 1ms/step - loss: 5.2426
Epoch 23/100
12/12 [==============================] - 0s 2ms/step - loss: 5.1888
Epoch 24/100
12/12 [==============================] - 0s 2ms/step - loss: 5.3964
Epoch 25/100
12/12 [==============================] - 0s 2ms/step - loss: 5.2486
Epoch 26/100
12/12 [==============================] - 0s 1ms/step - loss: 5.2495
Epoch 27/100
12/12 [==============================] - 0s 2ms/step - loss: 5.1677
Epoch 28/100
12/12 [==============================] - 0s 1ms/step - loss: 5.1351
Epoch 29/100
12/12 [==============================] - 0s 2ms/step - loss: 5.1370
Epoch 30/100
12/12 [==============================] - 0s 2ms/step - loss: 5.0841
Epoch 31/100
12/12 [==============================] - 0s 2ms/step - loss: 5.1322
Epoch 32/100
12/12 [==============================] - 0s 2ms/step - loss: 5.1482
Epoch 33/100
12/12 [==============================] - 0s 2ms/step - loss: 5.3112
Epoch 34/100
12/12 [==============================] - 0s 2ms/step - loss: 5.1805
Epoch 35/100
12/12 [==============================] - 0s 2ms/step - loss: 5.2459
Epoch 36/100
12/12 [==============================] - 0s 2ms/step - loss: 5.0963
Epoch 37/100
12/12 [==============================] - 0s 1ms/step - loss: 5.5691
Epoch 38/100
12/12 [==============================] - 0s 1ms/step - loss: 5.5684
Epoch 39/100
12/12 [==============================] - 0s 2ms/step - loss: 5.3936
Epoch 40/100
12/12 [==============================] - 0s 2ms/step - loss: 5.1273
Epoch 41/100
12/12 [==============================] - 0s 2ms/step - loss: 5.1778
Epoch 42/100
12/12 [==============================] - 0s 2ms/step - loss: 4.9693
Epoch 43/100
12/12 [==============================] - 0s 1ms/step - loss: 5.1849
Epoch 44/100
12/12 [==============================] - 0s 1ms/step - loss: 4.9921
Epoch 45/100
12/12 [==============================] - 0s 2ms/step - loss: 4.9708
Epoch 46/100
12/12 [==============================] - 0s 1ms/step - loss: 4.9586
Epoch 47/100
12/12 [==============================] - 0s 2ms/step - loss: 5.0022
Epoch 48/100
12/12 [==============================] - 0s 2ms/step - loss: 4.9440
Epoch 49/100
12/12 [==============================] - 0s 2ms/step - loss: 4.9090
Epoch 50/100
12/12 [==============================] - 0s 2ms/step - loss: 4.9673
Epoch 51/100
12/12 [==============================] - 0s 1ms/step - loss: 4.9464
Epoch 52/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8899
Epoch 53/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8707
Epoch 54/100
12/12 [==============================] - 0s 2ms/step - loss: 5.0062
Epoch 55/100
12/12 [==============================] - 0s 2ms/step - loss: 5.0938
Epoch 56/100
12/12 [==============================] - 0s 2ms/step - loss: 5.2593
Epoch 57/100
12/12 [==============================] - 0s 2ms/step - loss: 5.3566
Epoch 58/100
12/12 [==============================] - 0s 2ms/step - loss: 5.5046
Epoch 59/100
12/12 [==============================] - 0s 1ms/step - loss: 5.1578
Epoch 60/100
12/12 [==============================] - 0s 2ms/step - loss: 5.0542
Epoch 61/100
12/12 [==============================] - 0s 2ms/step - loss: 5.0808
Epoch 62/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8605
Epoch 63/100
12/12 [==============================] - 0s 2ms/step - loss: 4.9123
Epoch 64/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8383
Epoch 65/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8110
Epoch 66/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8221
Epoch 67/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8475
Epoch 68/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8375
Epoch 69/100
12/12 [==============================] - 0s 2ms/step - loss: 5.0420
Epoch 70/100
12/12 [==============================] - 0s 2ms/step - loss: 5.0249
Epoch 71/100
12/12 [==============================] - 0s 2ms/step - loss: 5.2253
Epoch 72/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8274
Epoch 73/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8247
Epoch 74/100
12/12 [==============================] - 0s 2ms/step - loss: 4.6936
Epoch 75/100
12/12 [==============================] - 0s 2ms/step - loss: 4.7573
Epoch 76/100
12/12 [==============================] - 0s 2ms/step - loss: 4.9218
Epoch 77/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8242
Epoch 78/100
12/12 [==============================] - 0s 1ms/step - loss: 5.0142
Epoch 79/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8442
Epoch 80/100
12/12 [==============================] - 0s 1ms/step - loss: 4.8373
Epoch 81/100
12/12 [==============================] - 0s 2ms/step - loss: 4.7173
Epoch 82/100
12/12 [==============================] - 0s 2ms/step - loss: 4.6421
Epoch 83/100
12/12 [==============================] - 0s 2ms/step - loss: 4.7401
Epoch 84/100
12/12 [==============================] - 0s 3ms/step - loss: 4.6634
Epoch 85/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8789
Epoch 86/100
12/12 [==============================] - 0s 2ms/step - loss: 4.6853
Epoch 87/100
12/12 [==============================] - 0s 2ms/step - loss: 6.2211
Epoch 88/100
12/12 [==============================] - 0s 2ms/step - loss: 6.2515
Epoch 89/100
12/12 [==============================] - 0s 2ms/step - loss: 5.0000
Epoch 90/100
12/12 [==============================] - 0s 2ms/step - loss: 5.0098
Epoch 91/100
12/12 [==============================] - 0s 2ms/step - loss: 4.8402
Epoch 92/100
12/12 [==============================] - 0s 2ms/step - loss: 4.7242
Epoch 93/100
12/12 [==============================] - 0s 2ms/step - loss: 4.6102
Epoch 94/100
12/12 [==============================] - 0s 2ms/step - loss: 4.6006
Epoch 95/100
12/12 [==============================] - 0s 2ms/step - loss: 4.5359
Epoch 96/100
12/12 [==============================] - 0s 2ms/step - loss: 4.6438
Epoch 97/100
12/12 [==============================] - 0s 2ms/step - loss: 4.5454
Epoch 98/100
12/12 [==============================] - 0s 2ms/step - loss: 4.5486
Epoch 99/100
12/12 [==============================] - 0s 2ms/step - loss: 4.5677
Epoch 100/100
12/12 [==============================] - 0s 2ms/step - loss: 4.4718

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_layer1 (Dense)         (None, 128)               1792
_________________________________________________________________
dense_layer2 (Dense)         (None, 64)                8256
_________________________________________________________________
dense_output (Dense)         (None, 1)                 65
=================================================================
Total params: 10,113
Trainable params: 10,113
Non-trainable params: 0
_________________________________________________________________

In [103]:
loss = model.evaluate(X_test,y_test)

5/5 [==============================] - 0s 2ms/step - loss: 19.4422

In [104]:
print("Mean squared error on test data: ", loss)

Mean squared error on test data:  19.442230224609375

In [ ]:
# model is overfitting now, we will use early stopping to solve this issue